.App {
  text-align: center;
  display: flex;
  background-color: black;
  color: #ddd;
  overflow: hidden;
  max-height: 100vh;
  height: 100%;
}

.sidePanel {
  background-color: #33373d;
  padding: 20px;
  height: 100%;
  min-height: 100vh;
}

.inputWrapper {
  width: 250px;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.grid-container {
  display: grid;
  width: 100%;
  grid-gap: 0px;
  width: calc("100vw-250px");
  height: 100%;
}

.grid-row {
  width: 100%;
  height: 1fr;
  display: grid;
}

.grid-cell {
  width: 100%;

  background-color: black;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rc {
  width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  padding: 5px;
  background-color: #39548b;
  text-align: center;
  color: #ddd;
}
